<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <title>Confirm Email</title>

</head>
<body style=" margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;">

<div style="  display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
           ">
    <div style="

            background-color: #ffffff;

            text-align: center;">
        <h1 style=" padding-top: 50px;
            margin-bottom: 20px;
            color: #292929;
            text-align: left">Hi cooker!</h1>
        <br/>

        <h1 style=" padding-top: 30px;
            margin-bottom: 40px;
            color: #292929;">
            Your account activation process is nearly finished. Simply click the button below, and you're good to go.</h1>


        <a href="#"  th:href="@{${confirmEmailUrl}}" style=" display: inline-block;
            background-color: #1b5880;
            color: #ffffff;
            text-decoration: none;
            padding: 12px 24px;

            border-radius: 25px;
            transition: background-color 0.3s ease;">Activate email</a>
        <img src="https://res.cloudinary.com/df29zrbq6/image/upload/v1710954279/cooks-corner-building_cguzbi.webp" alt="photo" style="  width: 100%;
            height: 450px;
            border-radius: 10px;
            margin-top: 40px;">
    </div>

</div>
</body>
</html>


